<div class="row justify-content-center panel-container">
  <div class="col-8">
    <div *ngIf="course">
      <h2><span>Course</span> {{ course.cursoNome }}</h2>
      <hr>
      <dl class="row-md entity-details">
        <dt><span >ID</span></dt>
        <dd>
          <span>{{ course.id }}</span>
        </dd>
        <dt><span >Name</span></dt>
        <dd>
          <span>{{ course.cursoNome }}</span>
        </dd>

        <dt><span >Degree</span></dt>
        <dd>
          <span>{{ course.grau }}</span>
        </dd>
        <dt><span>Duration</span></dt>
        <dd>
          <span>{{ course.duracao }}</span>
        </dd>
        <dt><span>etcs</span></dt>
        <dd>
          <span>{{ course.etcs }}</span>
        </dd>
        <dt><span >Description</span></dt>
        <dd>
          <span>{{ course.descricao }}</span>
        </dd>

      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info margin-right-10">
        <i class="fa fa-arrow-left"></i><span>Back</span>
      </button>

      <button type="button" [routerLink]="['/university/managecourse', course.id, 'edit']" class="btn btn-primary">
        <i class="fa fa-pencil"></i><span>Edit</span>
      </button>
    </div>
  </div>
</div>
