<div class="panel-container">
  <h2>
    <span>Contacts</span>
  </h2>

    <div id="tel">
      <p>Campo Grande, 376</p>
      <p>1749-024 Lisboa - Portugal</p>
      <p>Tel: 217 515 500</p>
      <p>email: info@ulusofona.pt</p>
    </div>

    <div id = "rsocial">
      <ul>
        <li><i class="fa fa-whatsapp" aria-hidden="true"></i> WhatsApp - <a href="https://api.whatsapp.com/send?phone=351963640100"
                                                                            title="Iniciar conversa no WhatsApp" target="_blank">963640100</a></li>
        <li><a href="https://m.me/u.lusofona" target="_blank">Facebook Messenger</a></li>
      </ul>
    </div>

  <div class="row">

    <div class="col-md-8 mb-8">
    <h3>Estrutura Organizacional</h3>

      <div class="table-responsive">

        <table class="table">

          <tbody>
          <tr>
            <th colspan="3">Org&atilde;os de Gest&atilde;o Acad&eacute;mica e Administrativa</th>
          </tr>
          <tr>
            <td>Reitoria</td>
            <td>Professor Doutor Mário Moutinho</td>
            <td><a href="mailto:reitoria@ulusofona.pt">reitoria@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Administra&ccedil;&atilde;o</td>
            <td>Professor Doutor Manuel de Almeida Damásio</td>
            <td><a href="mailto:administracao@ulusofona.pt">administracao@ulusofona.pt</a></td>
          </tr>
          <tr>
            <th colspan="3">SUC - Serviços Universitários Centrais (secretaria de alunos  e tesouraria)</th>
          </tr>
          <tr><td colspan="3">
            <strong>SUC 1º ciclo e Express</strong>:  2ª a 6ª das 10h30 - 12h00 / 15h00 - 17h30<br/>
            <strong>SUC 2º e 3º ciclo</strong>:  2ª a  6ª das 10h30 - 12h00 / 15h00 - 17h30<br/>
            <strong>Atendimento Telefónico SUC</strong>: 2.ª a 6.ª das 10h00 - 12h30 / 15.00 - 18H
          </td>
          </tr>

          <tr>
            <td>Secretaria | 1.&ordm; ciclo</td>
            <td>Rosa Ribeiro</td>
            <td><a href="mailto:secretaria@ulusofona.pt">secretaria@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Secretaria | 2.&ordm;s e 3.&ordm;s Ciclos e P&oacute;s-Gradua&ccedil;&otilde;es</td>
            <td>Rosa Ribeiro</td>
            <td><a href="mailto:secretaria@ulusofona.pt">secretaria@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Tesouraria</td>
            <td>Sandra Ramos</td>
            <td><a href="mailto:tesouraria@ulusofona.pt">tesouraria@ulusofona.pt</a></td>
          </tr>
          <tr>
            <th colspan="3">Unidades Org&acirc;nicas</th>
          </tr>
          <tr>
            <td>Escola de Ci&ecirc;ncias e Tecnologias da Sa&uacute;de</td>
            <td colspan="2"><a href="mailto:info@ulusofona.pt">info@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Escola de Ci&ecirc;ncias Econ&oacute;micas e das Organiza&ccedil;&otilde;es</td>
            <td colspan="2"><a href="mailto:info@ulusofona.pt">info@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Escola de Comunica&ccedil;&atilde;o, Arquitectura, Artes e Tecnologias da Informa&ccedil;&atilde;o</td>
            <td colspan="2"><a href="mailto:info@ulusofona.pt">info@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Escola de Psicologia e Ci&ecirc;ncias da Vida</td>
            <td colspan="2"><a href="mailto:info@ulusofona.pt">info@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Faculdade de Ci&ecirc;ncias Sociais, Educa&ccedil;&atilde;o e Administra&ccedil;&atilde;o</td>
            <td colspan="2"><a href="mailto:info@ulusofona.pt">info@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Faculdade de Direito</td>
            <td colspan="2"><a href="mailto:info@ulusofona.pt">info@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Faculdade de Educa&ccedil;&atilde;o F&iacute;sica e Desporto</td>
            <td colspan="2"><a href="mailto:info@ulusofona.pt">info@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Faculdade de Engenharia</td>
            <td colspan="2"><a href="mailto:info@ulusofona.pt">info@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Faculdade de Medicina Veterin&aacute;ria</td>
            <td colspan="2"><a href="mailto:info@ulusofona.pt">info@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Instituto de Serviço Social</td>
            <td colspan="2"><a href="mailto:info@ulusofona.pt">info@ulusofona.pt</a></td>
          </tr>
          <tr>
            <th colspan="3">Unidades de Apoio</th>
          </tr>
          <tr>
            <td>Provedor do Estudante</td>
            <td>Diogo Mateus</td>
            <td><a href="mailto:provedor.aluno@ulusofona.pt">provedor.aluno@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Biblioteca Victor de S&aacute;</td>
            <td>José  carlos de Carvalho  </td>
            <td><a href="mailto:biblioteca@ulusofona.pt">biblioteca@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Servi&ccedil;o de A&ccedil;&atilde;o Social Escolar</td>
            <td>Catarina Costa</td>
            <td><a href="mailto:sase@ulusofona.pt">sase@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Gabinete de Gest&atilde;o de Projetos</td>
            <td>Ana Simões</td>
            <td><a href="mailto:ana.simoes@ulusofona.pt">ana.simoes@ulusofona.pt</a></td>
          </tr>
          <tr>
            <th colspan="3">Dire&ccedil;&atilde;o Financeira</th>
          </tr>
          <tr>
            <td colspan="3">
              <p><strong>Compet&ecirc;ncias</strong><br />
                A Dire&ccedil;&atilde;o Financeira &eacute; a entidade respons&aacute;vel pela gest&atilde;o financeira, contabilistica e de tesouraria. Recai ainda na compet&ecirc;ncia desta dire&ccedil;&atilde;o a gest&atilde;o dos servi&ccedil;os de A&ccedil;&atilde;o Social Escolar e de Gest&atilde;o e Apoio a Projetos Externos.</p>
            </td>
          </tr>
          <tr>
            <td>Diretora</td>
            <td>Clotilde Domingues</td>
            <td><a href="mailto:clotilde.domingues@ulusofona.pt">clotilde.domingues@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Contabilidade</td>
            <td>Elsa  Costa </td>
            <td><a href="mailto:elsa.costa@ulusofona.pt">elsa.costa@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Tesouraria</td>
            <td>Dolores  Saraiva </td>
            <td><a href="mailto:dolores.saraiva@ulusofona.pt">dolores.saraiva@ulusofona.pt</a></td>
          </tr>
          <tr>
            <th colspan="3">Dire&ccedil;&atilde;o de Inform&aacute;tica</th>
          </tr>
          <tr>
            <td colspan="3">
              <p><strong>Compet&ecirc;ncias</strong><br />
                A Dire&ccedil;&atilde;o de Inform&aacute;tica &eacute; a entidade respons&aacute;vel pela gest&atilde;o do parque inform&aacute;tico e dos aplicativos da Universidade Lus&oacute;fona.</p>
            </td>
          </tr>
          <tr>
            <td>Dire&ccedil;&atilde;o</td>
            <td>Luís  Mata </td>
            <td><a href="mailto:luis.mata@ulusofona.pt">luis.mata@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Servi&ccedil;os T&eacute;cnicos de Inform&aacute;tica</td>
            <td>João  Ildefonso </td>
            <td><a href="mailto:joao.ildefonso@ulusofona.pt">joao.ildefonso@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Suporte Técnico e Helpdesk</td>
            <td>Sérgio Pereira </td>
            <td><a href="mailto:sergio.pereira@ulusofona.pt">sergio.pereira@ulusofona.pt</a></td>
          </tr>
          <tr>
            <th colspan="3">Dire&ccedil;&atilde;o de Recursos Humanos</th>
          </tr>
          <tr>
            <td colspan="3">
              <p><strong>Compet&ecirc;ncias</strong><br />
                A Dire&ccedil;&atilde;o de Recursos Humanos assegura a gest&atilde;o de todo o pessoal docente e n&atilde;o-docente.</p>
            </td>
          </tr>
          <tr>
            <td>Dire&ccedil;&atilde;o</td>
            <td>Luís Martinho</td>
            <td><a href="mailto:direccao.rh@ulusofona.pt">direccao.rh@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Secretariado</td>
            <td>Maria  Teresa Simões </td>

            <td><a href="mailto:recursos.humanos@ulusofona.pt">recursos.humanos@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Servi&ccedil;os de Auto-Prote&ccedil;&atilde;o</td>
            <td>João  Figueiras </td>
            <td><a href="mailto:joao.figueiras@ulusofona.pt">joao.figueiras@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Sum&aacute;rios</td>
            <td>Celeste Fernandes </td>
            <td><a href="mailto:espaco.professor@ulusofona.pt">espaco.professor@ulusofona.pt</a></td>
          </tr>
          <tr>
            <th colspan="3">Direção de Gestão e Planeamento Académico</th>
          </tr>
          <tr>
            <td colspan="3">
              <p><strong>Compet&ecirc;ncias</strong><br />
                A Direção de Gestão e Planeamento Académico é a entidade responsável pelo planeamento e acompanhamento da atividade académica e pelo desenvolvimento de atividades que promovam a inserção na vida ativa dos estudantes, em particular no que concerne a estágios curriculares e extracurriculares, emprego, empreendedorismo e voluntariado.</p>
            </td>
          </tr>
          <tr>
            <td>Dire&ccedil;&atilde;o</td>
            <td>Tânia Leite</td>
            <td><a href="mailto:tania.leite@ulusofona.pt">tania.leite@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Estágios e Inserção na Vida Activa</td>
            <td>Verónica Almeida</td>
            <td><a href="mailto:veronica.almeida@ulusofona.pt">veronica.almeida@ulusofona.pt</a></td>
          </tr>
          <tr>
            <th colspan="3">Dire&ccedil;&atilde;o de Marketing e Comunica&ccedil;&atilde;o</th>
          </tr>
          <tr>
            <td colspan="3">
              <p><strong>Compet&ecirc;ncias</strong><br />
                A Dire&ccedil;&atilde;o de Marketing e Comunica&ccedil;&atilde;o &eacute; a entidade respons&aacute;vel pela promo&ccedil;&atilde;o de todas as atividades e programas de forma&ccedil;&atilde;o desenvolvidos na Universidade Lus&oacute;fona .</p>
            </td>
          </tr>
          <tr>
            <td>Dire&ccedil;&atilde;o</td>
            <td>Manuel José Damásio</td>
            <td><a href="mailto:mjdamasio@ulusofona.pt">mjdamasio@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Gestora de Comunica&ccedil;&atilde;o</td>
            <td>Eugénia Vicente</td>
            <td><a href="mailto:eugenia.vicente@ulusofona.pt">eugenia.vicente@ulusofona.pt</a></td>
          </tr>
          <tr>
            <th colspan="3">Serviço de Gestão da Qualidade</th>
          </tr>
          <tr>
            <td>Direção</td>
            <td>Célia  Pires </td>
            <td><a href="mailto:celia.pires@ulusofona.pt">celia.pires@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td colspan="3"><p><strong>Direção de Facility Management</strong></p></td>
          </tr>
          <tr>
            <td colspan="3">
              <p><strong>Compet&ecirc;ncias</strong><br />
                A  Direção de Facility Management é entidade responsável pela gestão e manutenção  de todas as infraestruturas e equipamentos afetos ao campus da Universidade  Lusófona.</p>
            </td>
          </tr>
          <tr>
            <td>Dire&ccedil;&atilde;o</td>
            <td>André  Ferreira </td>
            <td><a href="mailto:andre.ferreira@ulusofona.pt">andre.ferreira@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Infraestruturas,  Manutenção e Obras</td>
            <td>Hugo  Taborda </td>
            <td><a href="mailto:hugo.taborda@ulusofona.pt">hugo.taborda@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Apoio  e gestão dos laboratórios</td>
            <td>Ricardo Pina</td>
            <td><a href="mailto:filipe.marto@ulusofona.pt">ricardo.pina@ulusofona.pt</a></td>
          </tr>
          <tr>
            <td>Aprovisionamento  e gestão de viaturas</td>
            <td>Luís  Videira </td>
            <td><a href="mailto:luis.videira@ulusofona.pt">luis.videira@ulusofona.pt</a></td>
          </tr>
          </tbody>
        </table>

</div>
  </div>



</div>
